{% extends 'base.html' %}

{% load static %}

{% load cloudinary %}

{% block title %}| {{ blog.title }}{% endblock %}

{% block meta %}
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="keywords" content="" />
<meta name="description" content="{{ blog.title }}" />
{% endblock %}

{% block content %}
<div class="intro intro-single route bg-image" style="background-image: url({{ blog_single.breadcrumb_image.url }})">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">Blog Details</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="{% url 'website:home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">blog-single</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="blog-wrapper sect-pt4" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-box">
          <div class="post-thumb">
            {% cloudinary blog.thumbnail.url class="img-fluid" alt=blog.title %}
          </div>
          <div class="post-meta">
            <h1 class="article-title">{{ blog.title }}</h1>
            <ul>
              <li>
                <span class="ion-ios-person"></span>
                <a href="#">{{ blog.author.get_full_name }}</a>
              </li>
              <li>
                <span class="ion-pricetag"></span>
                <a href="#">{{ blog.category }}</a>
              </li>
              <li>
                <span class="ion-chatbox"></span>
                <a href="#comment">{{ total_comments }}</a>
              </li>
            </ul>
          </div>
          <div class="article-content">
            {{ blog.content|safe }}
          </div>
        </div>
        <div class="box-comments">
          <div class="title-box-2">
            <h4 class="title-comments title-left">Comments ({{ total_comments }})</h4>
          </div>
          <ul class="list-comments" id="parent-comment">
            {% for root_comment in blog.rootcomments_set.all %}
            <li>
              <div class="comment-avatar">
                <img src="https://res.cloudinary.com/hittechsolutiongroup/image/upload/v1613215812/roz6945eyqiip5jhy7lq.jpg">
              </div>
              <div class="comment-details">
                <h4 class="comment-author">{{ root_comment.commentor_name }}</h4>
                <span>{{ root_comment.added_date.date }}</span>
                <p>{{ root_comment.comment }}</p>
                <a href="#commenting" class="reply" id="comment-{{ root_comment.pk }}">Reply</a>
              </div>
              <ul class="mt-5" id="{{ root_comment.pk }}">
              {% for reply_comment in root_comment.replycomments_set.all %}
              <li class="comment-children">
                <div class="comment-avatar">
                  <img src="https://res.cloudinary.com/hittechsolutiongroup/image/upload/v1613215812/roz6945eyqiip5jhy7lq.jpg">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{ reply_comment.commentor_name }}</h4>
                  <span>{{ reply_comment.added_date.date }}</span>
                  <p>{{ reply_comment.comment }}</p>
                  <a href="#commenting" class="reply" id="comment-{{ root_comment.pk }}">Reply</a>
                </div>
              </li>
              {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
       <div class="form-comments">
         <div class="title-box-2">
            <h3 class="title-left">
              Leave a Comment
            </h3>
          </div>
          <form id="commenting" class="form-mf" action="{% url 'website:blog-single' blog.pk blog.slug %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <input type="text" class="form-control input-mf" id="inputName" placeholder="Name *" name="commentor_name" required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <input type="email" class="form-control input-mf" id="inputEmail1" placeholder="Email *" name="commentor_email" required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <textarea id="textMessage" class="form-control input-mf" placeholder="Comment *" name="comment"
                    cols="45" rows="8" required></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget-sidebar">
          <h5 class="sidebar-title">Recent Blogs</h5>
          <div class="sidebar-content">
            <ul class="list-sidebar">
              {% for recent_blog in recent_blogs %}
              <li>
                <a href="{{ recent_blog.get_absolute_url }}">{{ recent_blog.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="widget-sidebar widget-tags">
          <h5 class="sidebar-title">Tags</h5>
          <div class="sidebar-content">
            <ul>
              {% for tag in blog.tags.all %}
              <li>
                <a href="#">{{ tag }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({{ blog_single.footer_image.url }})">
<div class="overlay-mf"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright">&copy; Copyright <span id="year"><script>year.textContent = new Date().getFullYear();</script></span> by
            <strong>
              <a href="{% url 'website:home' %}#about">Umutambyi Gad</a>
            </strong>
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</section>
{% endblock %}