{% extends 'base.html' %}

{% load static %}

{% load cloudinary %}

{% block title %}| Home{% endblock %}

{% block meta %}
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="keywords" content="Umutambyi Gad, Umutambyi, Gad, Rwandan Software Engineer, Rwandan Software Developer, Rwandan programmer, Rwandan Website Developer, Rwandan Junior Developer, Rwandan IT, Rwandan Freelancer, Coolest Kid in Africa" />
<meta name="description" content="Official personal website or portifolio of Junior software Engineer Umutambyi Gad" />
{% endblock %}

{% block content %}

{% if Intro %}
<div id="home" class="intro route bg-image" style="background-image: url({{ Intro.background_image.url }})">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <p class="display-6 color-d">{{ Intro.salutation }}</p>
        <h4 class="intro-title mb-4">{{ Intro.about }}</h4>
        <p class="intro-subtitle">
          <span class="text-slider-items">{% for career in careers %}{{ career }},{% endfor %}</span>
          <strong class="text-slider"></strong>
        </p>
        <p class="pt-3">
          <a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if profile %}
<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    {% cloudinary profile.avatar.url class="img-fluid rounded b-shadow-a" %}
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>{{ profile.names }}</span></p>
                    <p><span class="title-s">Profile: </span> <span>{{ profile.profile }}</span></p>
                    <p><span class="title-s">Email: </span> <span>{{ profile.email }}</span></p>
                    <p><span class="title-s">Phone: </span> <span>{{ profile.phone }}</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <h3 class="mb-4">Skills</h3>
                <hr class="mb-2">
                {% for skill in skills %}
                <span>{{ skill.name }}</span> <span class="pull-right">{{ skill.rate }}%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ skill.rate }}%;" aria-valuenow="{{ skill.rate }}" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                {{ profile.about | safe }}
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="umutambyi.gad" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="You can buy me a coffee here" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if service_section %}
<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            {{ service_section.heading }}
          </h3>
          <p class="subtitle-a">
            {{ service_section.paragraph }}
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for service in services %}
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="{{ service.icon }}"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">{{ service.title }}</h2>
            <p class="s-description text-center">
              {{ service.description }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if stats_section %}
<div class="section-counter paralax-mf bg-image" style="background-image: url({{ stats_section.background_image.url }})">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      {% for stat in stats %}
      <div class="col-lg-{{ col_lg }}">
        <div class="counter-box">
          <div class="counter-ico">
            <span class="ico-circle"><i class="{{ stat.icon }}"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">{{ stat.rank }}</p>
            <span class="counter-text">{{ stat.title }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if portifolio_section %}
<section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            {{ portifolio_section.heading }}
          </h3>
          <p class="subtitle-a">
            {{ portifolio_section.paragraph }}
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for portifolio in portifolios %}
      <div class="col-md-4">
        <div class="work-box">
          <a href="{{ portifolio.image.url }}" data-lightbox="gallery-mf">
            <div class="work-img">
              {% cloudinary portifolio.image.url class="img-fluid" %}
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">{{ portifolio.description }}</h2>
                  <div class="w-more">
                    <span class="w-ctegory">{{ portifolio.category }}</span> / <span class="w-date">{{ portifolio.added_date.date }}</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if blog_section %}
<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            {{ blog_section.head }}
          </h3>
          <p class="subtitle-a">
            {{ blog_section.paragraph }}
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for blog in blogs %}
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="blog-single.html">
              {% cloudinary blog.image.url class="img-fluid" %}
            </a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">{{ blog.category }}</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="blog-single.html">{{ blog.title }}</a></h3>
            <p class="card-description">
              {{ blog.description }}
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="#">
                {% cloudinary blog.author.profile.avatar.url class="avatar rounded-circle" %}
                <span class="author">{{ blog.author.get_full_name }}</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span> {{ blog.added_date.date }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if contact %}
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({{ contact.section_background.url }})">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Send Message Us
                  </h5>
                </div>
                <div>
                    <form action="{% url 'website:home' %}" method="post" role="form" class="contactForm">
                      {% csrf_token %}
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                    Get in Touch
                  </h5>
                </div>
                <div class="more-info">
                  <p class="lead">
                    {{ contact.short_message }}
                  </p>
                  <ul class="list-ico">
                    <li><span class="ion-ios-location"></span> {{ contact.location }}</li>
                    <li><span class="ion-ios-telephone"></span>{{ contact.telephone }}</li>
                    <li><span class="ion-email"></span>{{ contact.email }}</li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    {% for social_medium in social_media %}
                    <li>
                      <a href="{{ social_medium.link }}">
                        <span class="ico-circle"><i class="{{ social_medium.icon }}"></i></span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <span id="year"><script>year.textContent = new Date().getFullYear();</script></span> by
              <strong>
                <a href="#about">Umutambyi Gad</a>
              </strong>
          </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
{% endif %}

{% endblock %}
